# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nul
.claude/settings.local.json

# Playwright
/test-results/
/screenshots/
/playwright-report/
/playwright/.cache/

# Test Coverage
/coverage/
.claude/
.playwright-mcp/397.png
.playwright-mcp/page-2026-09-26T20-03-03-334Z.yml
.playwright-mcp/page-2026-09-26T20-04-22-442Z.yml
.playwright-mcp/page-2026-09-26T20-05-08-532Z.yml
.playwright-mcp/page-2026-09-26T20-06-20-689Z.yml
.playwright-mcp/page-2026-09-26T20-07-43-528Z.yml
.playwright-mcp/page-2026-09-26T20-10-18-025Z.yml
.playwright-mcp/page-2026-09-26T20-11-26-819Z.yml
.playwright-mcp/page-2026-09-26T20-13-02-537Z.yml
.playwright-mcp/page-2026-09-26T20-15-24-935Z.yml
.playwright-mcp/page-2026-09-26T20-15-44-891Z.yml
.playwright-mcp/page-2026-09-26T20-16-24-638Z.yml
.playwright-mcp/page-2026-09-26T20-19-56-420Z.yml
.playwright-mcp/page-2026-09-27T16-19-14-692Z.yml
.playwright-mcp/page-2026-09-27T16-19-22-707Z.yml
.playwright-mcp/page-2026-09-27T17-46-38-533Z.yml
.playwright-mcp/page-2026-09-27T17-46-47-338Z.yml
.playwright-mcp/page-2026-09-27T17-49-08-670Z.yml
.playwright-mcp/page-2026-09-27T17-49-19-651Z.yml
